
        @font-face {
            font-family: "AvenirNext";
            src: url("https://p.burstingland.com/kurskurskurs/fonts/avenir-next-bold.woff");
        }
        
        @font-face {
            font-family: "AndaleMono";
            src: url("https://p.burstingland.com/kurskurskurs/fonts/Andale-Mono.woff");
        }
        
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .container {
            max-width: 1439px;
            width: 100%;
            margin: 0 auto;
        }
        
        .sidebar {
            background: #0e0e0e;
            color: #FFF;
            max-width: 370px;
            float: left;
            width: 100%;
            height: 1024px;
            padding: 31px 22px;
        }
        
        .products {
            background: #FFF;
            max-width: 1025px;
            float: left;
            width: 100%;
            height: 1024px;
            padding: 0;
        }
        
        .logo {
            width: 94px;
            height: 94px;
            margin: 0 auto;
        }
        
        .search {
            margin: 0 auto;
        }
        
        .search form {
            border-bottom: 4px solid #373737;
            padding: 0;
        }
        
        .search form label {}
        
        .search-icon {
            position: absolute;
            width: 28px;
            height: 30px;
            margin: 10px;
        }
        
        .search form input {
            background: transparent;
            border: 0;
            color: #373737;
            font-size: 30px;
            margin-left: 45px;
            min-height: 30px;
            padding: 8px 0;
        }
        
        .search form input:focus {
            outline: none;
        }
        
        .nav {
            margin-top: 148px;
        }
        
        .nav .category,
        .nav .subcategory {
            font-size: 24px;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            text-align: center;
            color: #ffffff;
        }
        
        .nav .category {
            font-family: 'AvenirNext', Arial;
            margin-bottom: 32px;
            font-weight: bold;
            color: #303030;
        }
        
        .nav .category + div {
            margin-bottom: 56px;
        }
        
        .nav .subcategory {
            font-family: 'AndaleMono', Arial;
            margin-bottom: 26px;
            color: #3c3c3c;
        }
        
        .nav .subcategory:last-child {
            margin: 0;
        }
        
        .nav .arrow-down-icon {
            width: 14px;
            height: 9px;
            vertical-align: 4px;
        }
        
        .nav .category.active,
        .nav .subcategory.active {
            color: #ffffff;
        }
        
        .nav .category.active:after {
            content: '';
            position: absolute;
            width: 14px;
            height: 9px;
            margin-top: 10px;
            margin-left: 7px;
            background: url('https://pbuzdin.github.io/adidas-shop-frontend/1/img/arrow-down-icon.svg') no-repeat;
        }
        
        .row {
            margin-right: -4px;
            margin-left: -4px;
        }
        
        .row:after {
            clear: both;
        }
        
        .row:after,
        .row:before {
            display: table;
            content: " ";
        }
        
        .col4,
        .col8 {
            position: relative;
            min-height: 1px;
            padding-right: 12px;
            padding-left: 12px;
            float: left;
        }
        
        .col4 {
            width: 339.6px;
        }
        
        .col8 {
            width: 679.2px;
        }
        
        .col12 {
            width: 1018.8px;
        }
        
        .filter {
            padding: 11px 0 0 0;
        }
        
        .gender {
            padding-left: 23px;
        }
        
        .filter-icon {
            background: #ebebeb;
            padding: 11px 7.5px;
            float: left;
        }
        
        .gender-switch {
            margin-left: 84px;
        }
        
        .gender-switch button {
            font-family: 'AvenirNext', Arial;
            font-size: 24px;
            font-weight: bold;
            color: #d6d6d6;
            text-transform: uppercase;
            border: 0;
            background: transparent;
            padding: 14px 7px;
            cursor: pointer;
        }
        
        .gender-switch button.active,
        .size-line a.active {
            color: #4d42f8;
        }
        
        .sizes {
            padding: 14px 0;
        }
        
        .size-title,
        .size-line a {
            font-family: 'AvenirNext', Arial;
            font-size: 24px;
            font-weight: bold;
            color: #d6d6d6;
            text-transform: uppercase;
            text-decoration: none;
        }
        
        .size-title {
            float: left;
            margin-right: 18px;
        }
        
        .products-grid:first-child {
            margin-top: 35px;
        }
        
        .products-grid {
            margin-top: 17px;
        }
        
        .products-grid .col4:first-child {
            padding-left: 23px;
        }
        
        .sale-badge {
            display: none;
            background: #ff5c5c;
            font-family: 'AvenirNext', Arial;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
            padding: 6px 20px;
            position: absolute;
            right: 0;
            margin-top: 7px;
            margin-right: 25px;
        }
        
        .product {
            background: #f4f4f4;
            padding: 8px 6px;
        }
        
        .product-img {
            max-height: 193px;
            overflow: hidden;
        }
        
        .product-img img {
            width: 100%;
        }
        
        .product.sale .sale-badge {
            display: block;
        }
        
        .price {
            display: block;
            padding: 23px 0 27px 0;
            text-align: center;
            font-family: 'AvenirNext', Arial;
            font-size: 30px;
            font-weight: bold;
            background: #ffffff;
            color: #0d0d0d;
            text-transform: uppercase;
            text-decoration: none;
            margin-top: 8px;
        }
        
        .product.sale .price {
            background-image: linear-gradient(107deg, #0c09bf, #966dd8);
            color: #ffffff;
        }