
.sale-badge {
  background: #ff5c5c;
  font-family: 'AvenirNext', Arial;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 20px;
  position: absolute;
  margin-top: 7px;
  margin-left: 243px;
}

.product.sale .sale-badge {
  display: block;
}

.product-info.sale .sale-badge {
  display: inline-block;
  position: relative;
  margin: 0 0 0 51px;
}
