
.product {
  background: #f4f4f4;
  padding: 8px 6px;
  margin-bottom: 24px;
}

.product-img {
  max-height: 193px;
  overflow: hidden;
}

.product-img img {
  width: 100%;
}

.product.sale .sale-badge {
  display: block;
}

.price {
  display: block;
  padding: 23px 0 27px 0;
  text-align: center;
  font-family: 'AvenirNext', Arial;
  font-size: 30px;
  font-weight: bold;
  background: #ffffff;
  color: #0d0d0d;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 8px;
}

.product.sale .price {
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
  color: #ffffff;
}
     
.product-info {
  background: #fff;
  margin-top: 26px;
  float: left;
  width: 60%;
  min-width: 1025px;
}

.product-container {
  position: relative;
}

.hover {
  position: absolute;
  left: 0;
  right: 0;
}

.left-info {
  float: left;
}

.right-info {
  float: right;
}

.product-info.sale .sale-badge {
  display: inline-block;
  position: relative;
  margin: 0 0 0 51px;
}

.product-title {
  font-family: 'AvenirNext', Arial;
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
  color: #3a3a3a;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  max-width: 230px;
}

.save {
  background: #e3e3e3;
  border-radius: 75px;
  width: 75px;
  height: 75px;
  border: 0;
  color: #fff;
  font-family: 'AvenirNext', Arial;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
}

.color-switch {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  border: 0;
  padding: 4px;
  margin-left: 13px;
  cursor: pointer;
}

.color1 {
  background: #c5c5c5;
}

.color2 {
  background: #4d87ca;
}

.color3 {
  background: #4a4a4a;
}

.color4 {
  background: #e0e0e0;
}

.product-info .price {
  font-size: 80px;
  color: #e2e2e2;
  display: block;
  padding: 0;
  margin: 26px 0 0 0;
  background: transparent;
  text-align: right;
}

.photo-show {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.photo-tour {
  height: 120px;
  overflow: hidden;
}

.photo-tour img {
  max-height: 120px;
  border: 5px solid transparent;
  cursor: pointer;
}

.photo-tour img.current {
  border: 5px solid #e8e8ea;
}

.triple {
  width: 159px;
  height: 18px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGCAYAAAACEPQxAAAAFUlEQVQYV2NgAIHnz5//RyLAYiAAAMIcCx2s9l//AAAAAElFTkSuQmCC') repeat;
  display: inline-block;
  vertical-align: 52px;
  margin: 0 28px;
}

.more-photos {
  width: 45px;
  height: 57px;
  font-family: 'Avenir', Arial;
  font-size: 14px;
  font-weight: 500;
  color: #c0c0c0;
  text-decoration: none;
  display: inline-block;
  vertical-align: 40px;
}

.product-desc {
  font-family: 'Avenir', Arial;
  font-size: 33px;
  font-weight: 500;
  line-height: 1.52;
  text-align: left;
  color: #d8d8d8;
}

.product-desc a {
  color: #6e6e6e;
  text-decoration: none;
}

.buy {
  font-family: 'AvenirNext', Arial;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  display: block;
  background-image: linear-gradient(to right, #4949aa, #27275d);
  width: 100%;
  padding: 39.5px 0;
  margin-top: 176px;
  cursor: pointer;
  position: fixed;
  max-width: 1025px;
  bottom: 0;
}